body {
    text-align: center;
    font-family: 'Noto Nastaliq Urdu', cursive;
      
  }

  .calculator {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
   background-color: rgb(34, 32, 32);
   color: white;  
   border-radius: 10px;
}

  .calculator input[type="button"] {
    width: 50px;
    height: 50px;
    font-size: 18px;
    margin: 5px;
    
  }
  .cal{
        font-size: 50px;
  }
  .cal>button{
    width: 80px;
    padding: 10px;
    gap: 3px;
    font-size: 50px;
    
    
  }